{% extends "monApp/admin_base.html" %}
{% block content %}

<article>
    {% for article in objectList %}
        <a href="accueil/article/">
            <div class="article">
                <img src="{{ article.type_id.img.url }}" class="art_type"><div class=art_txt>
                    <h1>{{ article.title }}</h1>
                    <h2>{{ article.subTitle }}</h2>
                </div>
                <h3>{{ article.date|date:"Y-m-d" }}</h3>
            </div>
        </a>
    {% endfor %}
</article>

{% endblock %}