{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% if success %}
        <p class="success">Utilisateur enregistré avec succès!</p>
    {% endif %}
    <form method="POST"/>
    {% csrf_token %}
    {{form.as_p}}

    <input type = "submit">
    </form>
    {% if form.instance.id %}
    <a href="{% url "admin" model="article" action="list" arg=form.instance.id %}">Liste des articles</a>
    {% endif %}
    </article>
    {% if form.instance.id %}
            <a href="{% url "admin" model="section" action="delete" arg=form.instance.id %}"><img src={% static "img/del.png" %} class = "admin_del"></a>
    {% endif %}
{% endblock %}