{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% for section in objectList %}
        <a href="{% url "admin" model="section" action="edit" arg=section.id %}">
            <div class="article">
                <img src="{% static 'img/section.png' %}" class="art_type"><div class=art_txt>
                    <h1>{{ section.nom_complet }}</h1>
                </div>
            </div>
        </a>
    {% endfor %}
</article>

    <a href="{% url "admin" model="section" action="add" %}"><img src={% static "img/add.png" %} class = "admin_add"></a>
{% endblock %}