{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <title>Administration</title>
</head>
<body>
    <header>

	<img src="{% static "img/settings.png" %}" class="main_logo"/>
        <a href="/deco"><img src="{% static 'img/deco.png' %}" class="deco"/></a>


	</header>
    <nav>

        <a href="{% url "admin" "group" "list" %}"><div class="menu">Gestion des utilisateurs</div></a>
        <a href="{% url "admin" "section" "list" %}"><div class="menu">Gestion des articles</div></a>
        <a href="{% url "admin" "mail" "list" %}"><div class="menu">Envois de mails</div></a>
        <a href="{% url 'user_import' %}"><div class="menu">Importer des étudiants</div></a>
        <a href ="{% url "examExtract" %}"><div class="menu">Envoyer des resultats de test</div></a>
        <a href="{% url "admin" "exam_invite" "list" %}"><div class="menu">Envoyer des convocations</div></a>
    </nav>
{% block content %}
{% endblock %}

</body>
    <script src={% static "js/del.js" %}></script>
</html>



