{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% if success %}
        <p class="success">Article enregistré avec succès!</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data"/>
    {% csrf_token %}
    {{form.as_p}}
    <input type = "submit">
    </form>

    </article>
    <article>
    {% if form.instance.id %}
        {% if form.instance.get_audio_path %}
<audio controls>
  <source src="{% static form.instance.get_audio_path.0 %}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{% endif %}
    {% for image_path in form.instance.get_images_path %}
        <img src="{% static  image_path  %}" class="img_content"/>
    {% endfor %}
    {% endif %}
    </article>
    {% if form.instance.id %}
        <a href="{% url "admin" model="article" action="delete" arg=form.instance.id %}"><img src={% static "img/del.png" %} class = "admin_del"></a>
    {% endif %}
{% endblock %}
