{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% if success %}
        <p class="success">E-mail plannifié avec succès!</p>
    {% endif %}
    <form method="POST"/>
    {% csrf_token %}
    {{form.as_p}}

    <input type = "submit">
    </form>

    </article>
    {% if form.initial.instance %}
    <a href="{% url "admin" model="mail" action="delete" arg=form.initial.instance%}"><img src="{% static "img/del.png" %}" class = "admin_del"></a>
    {% endif %}
{% endblock %}