{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% for mail in objectList %}
        <a href="{% url "admin" model="mail" action="edit" arg=mail.id %}">
            <div class="article">
                <img src="{% static 'img/mail.png' %}" class="art_type"><div class=art_txt>
                    <h1>{{ mail }}</h1>
                </div>
            </div>
        </a>
    {% endfor %}
</article>

    <a href="{% url "admin" model="mail" action="add" %}"><img src={% static "img/add.png" %} class = "admin_add"></a>
{% endblock %}