{% extends "monApp/admin_base.html" %}
{% load static %}
{% block content %}
    <article>
    {% for user in objectList %}
        <a href="{% url "admin" model="user" action="edit" arg=user.id %}">
            <div class="mini article">
                    <h1>{{ user.identifiant }}</h1>
                </div>
            </div>
        </a>
    {% endfor %}
</article>

    <a href="{% url "admin" model="user" action="add" %}"><img src={% static "img/add.png" %} class = "admin_add"></a>
{% endblock %}